.world-editor-container {
  display: flex;
  height: 100%;
}

.sidebar {
  border: 1px solid #000000;
  flex: 1 0 0;
}

.map-view {
  border: 1px solid #000000;
  border-left: none;
  flex: 9 0 0;
  overflow: scroll;
}
