.world-editor-container {
  display: flex;
  height: calc(100% - 25px);
}

.sidebar {
  border-right: 1px solid #ddd;
  flex: 1.5 0 0;
}

.tileset-dropdown {
  margin-bottom: 5px;
}

.map-view {
  flex: 9 0 0;
  overflow: hidden;
}

.status-bar {
  border-top: 1px solid #ddd;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
}

.tile-entry-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 5px;
}

.tile-active {
  background-color: #f5f5f5;
}

.tile-entry-container:hover {
  background-color: #f5f5f5;
}

.tile-entry-image {
  background-repeat: no-repeat;
}

.tile-entry-name {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}
